:root {
    // background color for Couply
    --primary-color: #E8F5E2;

    // black background
    --dark-background: #000;

    // darker green -  CTA-Install buttons
    --secondary-color: #9BC588;

    // CTA button menu
    --cta-button: #C6DBBD;
    
    --link-color: #000;
    --border-color: #000;
    --inner-panel-color: #fff;

}